
#desc-btn, #reset-btn {
    margin-top: 25px;
    color: #fbeb23;
    text-align: center;
    font-size: 12px;
    text-shadow: 0 1px 0 #272727;
    background-color: #333333;
    border-color:#333333;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
    background-color: #595959;
    color: #fbeb23;
    border-color:#000000;
}

#scan-background {
  content:url(../img/splash.png);
  width:120px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

#page-scanning, #page-getName, #page-bleConnection, #page-chat {
    display:none;
}
#givenName {
    position: relative;
    margin: 0px 5px;
    color: #000000;
    font-size: 12px;
}
#askName {
    /*position: relative;*/
    float: left;
    margin-left: 0.3em;
    height: 3em;
}
#nameInputField {
    position: relative;
    float: left;
    margin-left: 0.3em;
}
input#newName {
    font-size: 2em;
    color: #808080;
}

.content-ul, .chat-ul {
    list-style-type:none;
    padding:0px;
}

#introimg, #chatimg {
    position: relative;
    float: left;
}
.yellingout{
    margin: 0px;
    padding: 0px;
    font-size: 5em;
    height: 1em;
}
#introtext {
    width: 120px;
    padding: 0;
    position: relative;
    float: right;
}
#chattext {
    width: 160px;
    padding: 0;
    position: relative;
    float: right;
}
.chatThread {
    margin: auto;
}

.profilePage {
/*    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;*/
    margin: auto;
}
.profile-circular {
    
    width: 120px;
    height: 120px;
    background-image: url('images/fridge.png');
    background-size: cover;
    display: block;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-style: inset;
    border-width: 5px;
    border-color: #fbeb23;
}
.profile-circular-small {
    
    width: 80px;
    height: 80px;
    background-image: url('images/fridge.png');
    background-size: cover;
    display: block;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-style: inset;
    border-width: 5px;
    border-color: #fbeb23;
}

div#bgimg {
    position: fixed;
    background-image: url("images/back.png");
    background-repeat-x: no-repeat;
    background-position: center;
    height: 290px;
    width: 83%;
    opacity:.15;
}

.ui-header .ui-title {
    margin-top: 25px;
    color: #ffffff;
    text-shadow: 0 3px 0 #272727;
}

.ui-content {
    padding: 1.8em;
}

body > div.ui-page.ui-page-theme-b.ui-page-header-fixed.ui-page-active > div.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
    /*background-color: #090c7c;*/
    background-color: #333333;
    border-bottom-style: ridge;
    border-bottom-width: 12px;
    border-bottom-color: #fbeb23;
}
.ui-footer{
    padding: 1.8em 0;
}
#footer{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    text-shadow: 0 1px 0 #272727;
    background-color: #333333;
    border-top-style: ridge;
    border-top-width: 12px;
    border-top-color: #fbeb23;
}

/*.bubbledLeft,.bubbledRight{
    margin-top: 3px;
    padding: 3px 5px 3px 5px;
    max-width: 80%;
    clear: both;
    border: 1px solid grey;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 0px; 
    -webkit-border-radius: 5px 5px 5px 0px;
    -moz-border-radius: 5px 5px 5px 0px;
    -o-border-radius: 5px 5px 5px 0px;
    -ms-border-radius: 5px 5px 5px 0px;
    border-width: 7px 5px 5px 11px; 
    border-image: url(../img/speech_bubble_left.png) 7 5 5 11 stretch stretch ;
    -o-border-image: url(../img/speech_bubble_left.png) 7 5 5 11 stretch stretch ;
    -moz-border-image: url(../img/speech_bubble_left.png) 7 5 5 11 stretch stretch ;
    -webkit-border-image: url(../img/speech_bubble_left.png) 7 5 5 11 stretch stretch ;
}*/

.bubbledLeft{
    float: left;
    margin-right: auto;
    position: relative;
    padding: 8px 0; /*position within the border*/
    margin-top: 0px;
    margin-bottom: 0px;
}

.bubbledLeft:before {
    z-index: -1;
    content: attr(data-content);
    border-width: 8px 10px 8px 17px; 
    border-image: url(../img/speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    -webkit-border-image: url(../img/speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    -moz-border-image: url(../img/speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    -o-border-image: url(../img/speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
}

.bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
}
